# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
tsconfig.tsbuildinfo

node_modules
dist
dist-ssr
*.local
.env*
!.env.example
.credentials

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.scratch
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Supabase
supabase/config.toml
supabase/.branches
supabase/.temp
