@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable text selection */
.disable-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


/* Custom titlebar */
.titlebar {
    @apply h-14 bg-gray-900 py-3 px-4 flex justify-between fixed top-0 left-0 right-0 z-40 max-w-sm mx-auto;
}
